<!DOCTYPE html>
<html>
    <head>
        <title>Please Create a New User</title>
    </head>
    <body>
        <form action="/users" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Create new User">
        </form>
    </body>
</html>